<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user33.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user33.email %>
</p>

<%= link_to 'Edit', edit_user33_path(@user33) %> |
<%= link_to 'Back', user33s_path %>
