<table>
  <tbody>
    <tr style="height:10px"></tr>
    <% @contributions.each_with_index do |contribution, index| %>
      <tr class="athing">
        <td><%= index+1 %>.</td>
          <td><% if current_user and not current_user.liked? contribution %><%= link_to upvote_contribution_path(contribution), method: :put do %>
               ▲  
         <% end %><% end %></td>
        <td class="title">
            <%= link_to contribution.title, contribution, :class=>"link" %>
        </td>
      </tr>
      <tr class="subtext">
        <td colspan="2"></td>
        <td class="subtext">
          <span class="score"><%= contribution.get_likes.size %></span>
          points by
          <a href="/users/<%=contribution.user_id%>"> <%= contribution.user.name %></a>
          <%#= link_to "eliasbenur", contribution.user, :class=>"link" %>
          <%= link_to time_ago_in_words(contribution.created_at)  + ' ago', contribution, :class=>"link" %>
          |
          <% if current_user and current_user.liked? contribution %><%= link_to unvote_contribution_path(contribution), method: :put do %>
               unvote<% end %> |<% end %>
          <%= link_to "hide", contribution.user, :class=>"link" %>
          |
            <%= link_to "x comments", contribution, :class=>"link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>