<table>
  <tbody>
    <tr style="height:10px"></tr>
    <%# Faltaria filtrar para que se muestren solo los de tipo URL %>
    <% @contributions.order(votes: :DESC).first(10).each_with_index do |contribution, index| %>
      <tr class="athing">
        <td><%= index+1 %>.</td>
          <td><% if current_user %>▲<% end %></td>
        <td class="title">
          <%= link_to contribution.title, "http://#{contribution.url}", :class=>"link" %>
          <span class="sitebit comhead">(<%= contribution.url %>)</span>
        </td>
      </tr>
      <tr class="subtext">
        <td colspan="2"></td>
        <td class="subtext">
          <span class="score"><%= contribution.votes %></span>
          points by
          <a href="/users/<%=contribution.user_id%>"> <%= contribution.user.name %></a>
          <%= link_to time_ago_in_words(contribution.created_at)  + ' ago', contribution, :class=>"link" %>
          |
          <%= link_to "unvote", contribution.user, :class=>"link" %>
          |
          <%= link_to "hide", contribution.user, :class=>"link" %>
          |
          <%= link_to "x comments", contribution.user, :class=>"link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


